
<ion-content scroll="false">

<!--
<img ng-src="img/topbackground.png" class="disable-user-behavior" style="position: fixed; bottom:0px; z-index:1000">
<p style="margin: 25%" /> <h1 class="text-center" style="color: #c54e51; font-size: 150px;">?</h2>
 Should probably put some fancily styled guidelines here -->
<img ng-src="img/question.png" height="59%" style="margin:0 auto; display: block;">
<img ng-src="img/backgroundpost.png" style="bottom:-20px; position: fixed; z-index:-5">
<form ng-submit="createPost(post)">
  <div class="list">
    <label class="item item-input">

      <textarea rows="3" maxlength="140" placeholder="140 characters max." ng-model="post.content">
      </textarea>
    </label>
  </div>
    <button type="submit" class="button button-full blue">Submit Question</button>
</form>
<script id="new-post.html" type="text/ng-template">

</script>

</ion-content>
