<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.outsidein834788" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>outsidein</name>
  <description>
        In which the good people share real-time bits of advice based on their real-time experiences at OutsideLands.
        Using collective knowledge to make the festival an even better time for all!
    </description>
  <author email="nkang@transplantnet.org" href="https://github.com/softwaredevclub/outsidein">
      Nicholas Egan, Julia Lu, Nikki Kang and Peter Baumbacher
    </author>
  <content src="index.html"/>
  <allow-navigation href="*" />
  <allow-intent href="*" />
  <access origin="*" />
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
