/* Empty. Add your own CSS if you like */
p.home-list-p {
  width: 75%;
  white-space: normal;
  float: left;
}

.scroll-content {
   background: url(../img/background.png);
   background-repeat: no-repeat;
   background-size: contain;
   background-size: 100% 100%;


 }
