/* Empty. Add your own CSS if you like */
p.home-list-p {
  width: 75%;
  white-space: normal;
  float: left;
}

.scroll-content {
   background: url(../img/background.png);
   background-repeat: no-repeat;
   background-size: contain;
   background-size: 100% 100%;


 }

div.home-list-score {
  width: 25%;
  float:left;
}

.custom-arrow {
  font-size: 20px;
}

.score {
  text-align: center;
  font-size: 200%;
}

button.custom-arrow-icon i:before {
    text-align: center !important;
}

.lighten{
  background-color: rgba(0,0,0,0);
}
.blue{
  background-color:#6dcad6;
}
